.base-btn {
    border: 3px solid #FF8268;
    color: #FF8268;
    font-size: 15px;
    font-weight: 900;
    background-color: #2e2e2e;
    padding: 15px 75px;
    cursor: pointer;
}
.slanted-divider{
    background-color:#2e2e2e;
    padding: 25px 0px 25px 0px;
}
.slanted-orange-line{
    transform: skew(0deg,-6.95deg);
    border: 1.5px solid #FC6B41;
}
.slanted-pink-line{
    transform: skew(0deg,-6.95deg);
    border: 1.5px solid #FF8585;
}
.orange-line{
    border : 1.5px solid #FC6B41;
    padding: -10px;
    margin-top: 0;
}
.link-container{
    display: flex;
    justify-content: space-evenly;
}
.navBar{
    z-index: 5;
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: #3e3e3e;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* The preson who is looking at this is stupid -Jaden*/
/* Navbar */
.navBarItem{
    font-weight: 500;
    padding: 0px 45px 0px 0px;
    color: #FF9900;
    text-align: center;
    text-decoration: none;
}
.nav-logo{
    width:50px;
    height:50px;
    padding: 10px;
}
/* First panel */
.header-panel{
    display: flex;
    align-items:center;
    padding: 150px 100px 75px 100px;
    background-color: #2e2e2e;
}
.img-logo-home{
    padding: 0px 50px 0px 10px;
    width: 400px;
    height:400px;
}
.big-orange{
    font-weight: 900;
    font-size: 100px;
    color: #FF9900;
}
.small-white{
    font-weight: 500;
    font-size: 40px;
    color: white;
}
/* Our Mission Panel */
.our-mission-panel{
    text-align: center;
    padding: 75px 350px 75px 350px;
    background-color: #2e2e2e;
}
.our-mission{
    font-weight: 900;
    font-size: 50px;
    color: #FF9900;
}
.frc-info{
    color: white;
    font-weight: 500;
    padding: 10px 0px 20px 0px;
    line-height: 2;
}
/* Our School Panel */
.our-school-panel{
    text-align: center;
    align-items: center;
    display: flex;
    padding: 50px 150px 50px 150px;
    background-color: #2e2e2e;
}
.west-logo-home{
    width: 400px;
    height: auto;
    padding: 0px 100px 0px 0px;
}
.our-school{
    font-weight: 900;
    font-size: 50px;
    color: #FF9900;
}
.our-school-right{
    padding: 0px 50px 0px 20px;
}
.west-description{
    color: white;
    font-weight: 500;
    padding: 10px 0px 20px 0px;
    line-height: 2;
    text-align: left;
}
/* Our Team Panel */
.our-team-panel{
    background-color:#2e2e2e;
    padding: 50px 0px 50px 0px;
}
.our-team{
    text-align: center;
    color:#FF9900;
    font-weight: 900;
    font-size: 50px;
}
.lower-team-panel{
    display: flex;
    padding: 50px 280px 50px 280px;
    align-items: center;
    text-align: center;
}
.team-panel{
    padding: 0px 10px 0px 10px;
}
.money-panel{
    padding: 0px 10px 0px 10px;
}
.clock-panel{
    padding: 0px 10px 0px 10px;
}
.money-icon{
    height: 200px;
    width: auto;
}
.clock-icon{
    height: 200px;
    width: auto;
}
.people-icon{
    height: 200px;
    width: auto;
}
.bold-orange{
    color:#FF9900;
    font-weight: 900;
    
}
.unbold-white{
    color:white;
    font-weight: 500;
}
.team-text{
    text-align: center;
}
.learn-more-button{
    text-align: center;
}

/* Footer */
.footer{
    text-align: center;
    background-color:#2e2e2e;
}
.footer-logo{
    width: 100px;
    height: 100px;
}
.footer-follow{
    color: white;
    font-weight: 500;
    padding: 0px 0px 20px 0px;
    text-align: center;
}




.contact-us-title{
    background-color: #2e2e2e;
    font-weight: 900;
    font-size: 90px;
    color: #FF9900;
    padding: 100px 0px 10px 0px;
    text-align: center;
}

.button-panel-contact{
    background-color:#2e2e2e;
    text-align: center;
}
.email-button{
    padding: 10px 0px 10px 0px;
}
.instagram-button{
    padding: 10px 0px 10px 0px;
}