/* Our Team Page */
.team-page-first{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 100px 50px 100px;
    background-color:#2e2e2e;
    
}
.team-page-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    max-width: 700px;
}

.team-page-image{
    padding-right: 3rem;
}

.team-page-big-orange{
    font-weight: 900;
    font-size: 100px;
    color: #FF9900;
    font-family: 'Tektur', sans-serif;
    padding-bottom: 20px;
}
.team-page-small-white{
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.team-page-small-white{
    line-height: 200%;
}

.subheading-white{
    color: #DCD7CF;
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
    font-family: 'Tektur', sans-serif;
}

.subgroup-section{
    max-width: 1400px;
    margin: auto;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subgroup-section > .left{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.subgroup-section > .left > p{
    line-height: 200%;
    font-size: 1rem;
    max-width: 600px;
}

.subgroup-section > .left > h3{
    color: #FF9900;
    font-family: 'Tektur', sans-serif;
    margin: 0;
    font-size: 3rem;
}

.subgroup-section > .right{
    display: flex;
    align-items: center;
    flex-direction: flex-start;
}

.subgroup-section > .right > img{
    width: 90%;
    margin-left: 30px;
    border: 3px solid #FF8268;
    object-fit: cover;
    max-height: 500px;
}

.subgroup-section.reversed > .right > img{
    margin-right: 30px;
    margin-left: 0;
    width: 90%;
}

.subgroup-section.reversed > .left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.subgroup-section.reversed > .right{
    display: flex;
    align-items: center;
    flex-direction: flex-end;
}

.captains-callout{
    text-align: center;
    margin: auto;
    max-width: 800px;
    margin-bottom: 50px;
    padding: 30px;
}

.captains-callout > h2{
    color: #FF9900;
    font-size: 3rem;
    margin-bottom: 0;
}

.captains-callout > p{
    line-height: 200%;
}